
*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

.logo{
    height: 55px;
    padding-top: 25px;
    padding-left: 45px;   
}
ul.menu{
    display: flex;
    font-weight: 500;
    justify-content: flex-end;
}
