
body{
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    margin: auto;
}
main, header, footer{
    width: 90%;
    margin-left: 5%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000000;
}
/* le header du site */
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
nav{
    width: 30%;
    height: 100%;
}
.logo{
    height: 100%;
    width: 7%;
    margin-top: 2%;
}
.logo img{
    height: 30%;
    width: 100%;
}
/* menu */
.menu{
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    height: 100%;
    width: 100%;
    margin: 0;
}
.menu li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 40%;
}
/*bordure bleu du nav*/
.menu li:hover{
    border-top: #0065FC 2px solid;    
}
.menu a:hover{
    color: #0065FC;
}
li.hebergements, li.activites{
    text-align: center;
    justify-content: space-between;   
    cursor: pointer;
}
 
/*corps de page */
h1{
    font-size: 22px;
    font-weight: 700;
    padding-top: 19px;
}
.description{
    width: 33%;
}
/*section recherche*/
#recherche form{
    display: flex;   
}
input{
    width: 200px; 
    text-align: center;
   /* border:none;*/
    border: 1px #F2F2F2 solid;
}
::placeholder{
    color:#000000;
    font-weight: 700;
}
form button{
    color: #FFFFFF;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px;
    gap: 10px;
}
.btn-texte{
    display: flex;
    font-weight: bold;
}
.btn-icone{
    display:none;
}
  /*localisation*/
form .fa-location-dot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-location-dot{ 
    width: 51px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}
  /*partie filtres*/
.noir{
    color: #000000;
}
.bleues{
    color: #0065FC;
}
#mes-filtres{
    display: flex;
    height: 50px;
    margin-top: 3%;
  }
#titre-filtres{ 
    font-weight: 700;
    width: 7%;
}
#filtres-categories{
    display: flex;
    width: 90%; 
}
.filtres{
    background: white;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin-right: 12px;
    cursor: pointer;
}
.filtres span{
    margin-left: 10px;
    margin-right: 20px;
}
.filtres:hover{
    background-color: #DEEBFF;
}
  /*info*/
button{
    background: #DEEBFF;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}
.info{
    margin-top: 2%;
    }
.info p{
    display: initial;
}
.fa-solid.fa-info{
    border-radius: 50px;
    border: 1px solid #D9D9D9;
    padding: 4px 10px 7px 10px;
    margin-right: 11px;
}
/*section hebergements*/
   /*couleurs etoiles*/
.bleues{
    color: #0065fc;
}
.grises{
    color: gray;
}
    /*pour manipuler les deux boites*/
#hebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*hebergement à marseille*/
.hebergement-marseille{
    width:65%;
    height:626px;
    background: #F2F2F2;
    border-radius: 20px;
    margin-top: 3%;
}
.hebergement-marseille h2 {
    font-weight: 700;
    width: 92%;
    margin-left: 4%;
    margin-top: 2%;
}
.cartes{
    width: 92%;
    height: 80%;
    display: flex;
    margin: 0;
    margin-left: 4%;
    flex-wrap:wrap;
    justify-content: space-between;
}
.carte{
    width: 30%;
    height: 40%;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px #DCDCDC;
}
.carte figure{
    width: 96%;
    height: 96%;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
}
.carte img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.carte figcaption{
    width: 96%;
    height: 38%;
    margin:1% 2% 1% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.carte h3{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
}
.carte span{
    font-size: 14px;
}
.fa-star{
    font-size: 11px;
}
.hebergement-marseille p{
    font-weight: 700;
    width: 96%;
    height: 21px;
    font-size: 18px;
    margin: 0% 0% 0% 4%; 
}
/*populaire*/
.populaire{
    width:30%;
    height:625px;
    background: #F2F2F2;
    border-radius:20px;
    margin-top: 3%;
}
.populaire h2,.fa-chart-line{
    display: inline;
    margin-left: 10%;
    margin-top: 7%;
}
.fa-chart-line{
    width:18px;
    display: inline;
}
.cartes-pop{
    width: 100%;
    height: 80%;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;
}
.carte-pop{
    width: 80%;
    height: 30%;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px #DCDCDC;
    margin-top: 7%;
}
.carte-pop figure{
    width: 96%;
    height:96%;
    margin: 2%;
    display: flex;
    flex-direction: initial;
}
.carte-pop img{
    width: 40%;
    height: 96%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;;
}
.carte-pop figcaption{
    width: 60%;
    margin-left: 4%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.carte-pop h3{
    margin: 0;
    font-weight: 700;
}
.carte-pop span{
    margin-bottom: 20%;
    font-weight: 400;
}
/* partie activites*/
#activites{
    margin-top: 60px;
    width: 100%;
    height: 493px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#activites h2{
    height: 10%;
    width: 100%;
    font-weight: 700;
    font-size: 22px;
}
.activite{
    width: 22%; 
    height: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px #F2F2F2;
    margin: 0;
}
.activite figure{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.activite img{
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.activite figcaption{ 
    width: 96%;
    height: 100%;
    margin: 0;
    display: flex;
}
.commun {
    margin: 6% 0% 0% 10%;
    font-size: 16px;
} 
.parc-national-calanques{
    margin: 6% 0% 0% 10%;
    font-size: 16px;
}
.notre-dame-garde{
    margin: 6% 0% 0% 10%;
    font-size: 16px;
} 
/*footer*/
footer{
    background: #F2F2F2;
    width:90%;
    height:225px;
    margin-top: 61px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
footer h3{
    font-size: 18px;
    font-weight: 700; 
    margin-right: 0;
    padding-left: 10%;
}
footer section{
    width: 33%;
    margin-top: 2%;
}
footer ul{
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-content: space-between;  
}
footer li{
    padding-left: 0; 
    padding-bottom: 3%;  
    line-height: 19px;
}
/* le responsive*/
  /*tablette*/
@media screen and (min-width:768px) and (max-width:991px){
/*header*/
    header{
        height: 60px;
    }   
    .logo img{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .logo{
        width: 10%;
        height: 45%;
        display: flex;
        align-items: flex-end;
        margin-top: 2%;   
    }
    nav{
        width: 45%;
        font-size: 15px;
    }
 /* menu */
    main{
        margin-top: 3%;
    }
/*corps de page */
    h1{
        width: 65%;
        font-size: 17px;
        line-height: 26px;
    }
    .description{
        width: 33%;
        font-size: 12px;
    }
/*section recherche*/
    input{
        padding: 0;
    }
    form button{
        padding: 15px 10px;
    }
    .btn-texte{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
/*partie filtres*/
    #mes-filtres {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: space-around;
      }
      #titre-filtres {
        width: 10%;
        height: 11px;
      }
      #filtres-categories {
        display: flex;
        width: 96%;
      }
      .filtres {
        display: flex;
        align-items: center;
        justify-content: center;
    }
      .filtres span {
        font-size: 11px;
        line-height: 13px;
        margin-right: 5px;
    }
    
/*info*/
    .info{
        width: 60%; 
    } 
    .info p{
        font-size: 12px;
    }
    .fa-solid.fa-info{
        margin-right: 1%;
        font-size: 10px;
        padding: 4px 7px 5px 7px;
    }
/*hebergement à marseille*/
    .hebergement-marseille{
        width: 100%;
    }
    .hebergement-marseille h2{
        width:37%;
        font-size: 20px;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .cartes{
        height: 75%; 
    }
    .carte{
       width: 31%;
    }
    .carte figcaption{
        height: 35%;
    }
    .carte h3{
        font-size: 15px;
    }
    .carte span{
        font-size: 13px;
    }
    .fa-star{
        font-size: 10px;
    }
    /*populaire*/
    .populaire{
        width: 100%;
        height: 278px;
        margin-top: 5%;
    }
    .titre-populaire{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .populaire h2, .fa-chart-line{
        margin-left: 4%;
        margin-top: 3%;
        margin-right: 4%;
    }
    .cartes-pop{
        width: 96%;
        height: 144px;
        margin-left: 2%;
    }
    .carte-pop{
        width: 30%;
        Height: 90%;
        margin-top: 3%;
    }
    .carte-pop img{
        height: 98%;
    }
    .carte-pop h3{
        font-size: 15px;
    }
    .carte-pop span{
        font-size: 11px;
    }
    /*partie activites*/
    #activites{
        width: 100%;
        height: 267px;
        margin-top: 5%;
    }
    #activites h2{
        padding-bottom: 3%;
    }
    .activite{
        height: 85%;
    }
    .activite img{
        height: 80%;
    }
    .activite figcaption{
        width:182px;
        height:56px;
    }
    .commun{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0% 0% 10% 10%;
        font-size: 14px;
    } 
    .parc-national-calanques{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2% 0% 8% 10%;
        font-size: 14px;
    }
    .notre-dame-garde{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0% 18% 8% 10%;
        font-size: 14px;
    }  
/*footer*/
    footer{
        margin-top: 10%;
    }
    footer h3{
        padding-left: 18%;
    }
    footer ul{
        width: 85%;
    }
}
  /*mobile*/
@media screen and (max-width:767px){

/*header*/
    header{
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 129px;
        margin: 0;
    }    
    nav{ 
        width: 100%;
        height: 36%;
        margin-left: 0;
        margin-top: 4%;
    }
    .logo{
        width: 20%;
        height: 60%;
        display: flex;
        align-items: center;
        margin-top: 4%;
    }
    /* menu */
    .menu {
        width: 100%;
        display: flex;
        padding: 0;
        align-items: center;
    }
    .menu li{
        width: 100%;
        padding: 0;
        border-bottom: grey 3px solid;
        padding-bottom: 7%;
    }
    /*bordure bleu du nav*/
    .menu li:hover{
        border-bottom: #0065FC 3px solid;
        border-top: none;
        padding-bottom: 7%;  
    }
    main{
        width: 100%;
        height: 100%;
        margin: 0;
    }
      
 /*corps de page */
    h1{
        width: 92%;
        font-size: 26px;
        margin-left: 5%;
    }  
    .description{
        width: 95%;
        font-size: 18px;
        margin-left: 5%;
    } 
    .info{
        margin-left: 5%;
    }
/*section recherche*/
    #recherche form{
        margin-left: 2%; 
        width: 96%;
    }
    #recherche form input{
        width: 70%;
    }
    .btn-texte{
        display: none;
    } 
    .btn-icone{
        display: flex;
        width: 15%;
    }
/*partie filtres*/
   #mes-filtres{
        width: 95%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 5%;
    }
    #titre-filtres{
        width: 100%;
        height: 11px;
    }
    #filtres-categories{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .filtres{
        display: flex;
        align-items: center;
        width: 48%;
        height: 50px;
        margin: 3% 0 0 0;
    }
    .filtres i{
        width: 20%;
        margin: 0;
    }
    .filtres span{
        display: flex;
        justify-content: flex-start;
        font-size: 13px;
        margin: 0;
        width: 90%;
    }
/*info*/
    .info{
        width: 94%;
        display: flex;
        align-items: center;
    }
    .info p{
        line-height: 19px;
    }
    .fa-solid.fa-info{
        margin-bottom: 5%;
        padding: 2px 7px 4px 7px;
        font-size: 12px;
    }
/*section hebergements*/
    #hebergements{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        margin-top: 5%;
      
    }
    /*hebergement à marseille*/
    .hebergement-marseille{
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        border-radius: 0;
        margin: 0;
    }
    .hebergement-marseille h2{
        font-size: 22px;
        margin-top: 5%;
        margin-left: 10%;
        width: 90%;
    }
    .cartes{
        width: 80%;
        height: 1254px;
        margin-left: 10%;
    }
    .carte{
        width: 100%;
        height:199px;
        box-shadow: 0px 0px 10px 10px #F2F2F2;
    }
    .carte h3{
        font-size: 16px;
    }
    .carte span{
        font-size: 14px;
    }
    .fa-star{
        font-size: 10px;
    }
    .hebergement-marseille p{
        display: none;
    }
    /*populaire*/
    .populaire{
        width:100%;
        height:580px;
        background-color: #F2F2F2;
        border-radius: 0; 
    }
    .titre-populaire{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .titre-populaire h2 {
        width: 80%;
        margin-left: 10%;
        margin-top: 4%;
        display: inline-block;
    }
    .fa-chart-line {
        width: 10%;
        display: inline-block;
        margin-top: 0%;
        margin-right: 8%;
    }
    .carte-pop{
        margin-top: 2%;
    }
    .carte-pop h3{
        font-size: 16px;
    }
    .carte-pop span{
        font-size: 14px;
    }
    /*partie activites*/
    #activites{
        width: 100%;
        height: 886px;
        background-color: #FFFFFF;
        padding-bottom: 10%;
        margin: 0;
    }
    #activites h2{
        width: 54%;
        Height:6%;
        margin:10% 0% 0% 10%;
    }
   .activite{
        width: 80%;
        height: 20%;
        margin-left: 10%;
    }
    .activite img{
        height: 80%;
    }
    .activite h3{
        margin: 3% 0% 0% 8%;
        font-size: 16px;
    }
    
/*footer*/
    footer{
        width:100%;
        height:501px;
        flex-direction: column; 
        margin: 0%; 
    }
    footer section{
        width: 100%;
    }
}








