
*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
li{
    list-style-type: none;
    margin-left: 40px;
}
/* le header du site */
/* logo */
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}
.logo{
    height: 19px;
    padding-top: 0px;
    padding-left: 0px;   
}
img#logo{
    height: 19px;
}
/* menu */
ul.menu{
    display: flex;
    font-weight: 500;
}
li.hebergements, li.activites{
    text-align: center;
    justify-content: space-between;   
}
/*corps de page */
h1{
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}
#mes-filtres{
    display: flex;
}
.fa-star{
    color: #0065fc;
}